/*Aqui nós aplicamos no root a fonte que está la no html. Ao usar :root, você está definindo a fonte padrão para todo o documento. Isso acontece porque :root refere-se ao elemento <html> no CSS, e qualquer regra aplicada a ele afetará todos os elementos dentro do HTML.*/
:root{
    font-family: "Montserrat", sans-serif;
    /*Line-height é para definir a altura de linha*/
    line-height: 150%;
    color: #ffffff;
}

/*Aqui o body pega a página toda*/
body{
    background-image: url(assets/bgtexture.jpg);
    background-size: cover;
    
}

/*Aqui o page pega somente a div #page*/
#page{
    /*box-sizing border box mantém o padding*/
    box-sizing: border-box;
    width: 800px;
    /*padding aumenta o espaço dentro do elemento, empurrando o conteúdo (como texto ou imagem) para longe da borda.*/
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 12px;

    /*Margin cria distância entre uns elementos e outros ao seu redor*/
    margin: 24px auto;
}

/*Aqui mexemos somente na imagem*/
img{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    display: block;
    opacity: 0.4;
    
}

main{
    padding: 24px;

}

h1{
    line-height: 140%;
    /*font-size é o tamanho da letra*/
    font-size: 40px;
    text-align: center;
}

h2{
    font-size: 24px;
}

h1 h2{
    color: #ffffffb9;
}

#titulo nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    background-color: rgb(0,0,0);
    border-radius: 12px;
}

#titulo nav p {
    margin: 0;  /* Remove qualquer margem por padrão */
    color: white;  /* Cor do texto */
    cursor: pointer;  /* Altera o cursor para indicar que é clicável */
    transition: color 0.3s ease;  /* Adiciona um efeito de transição na cor */
}

#titulo{
    position: absolute;  /* Fixa no topo */
    top: 0;  /* cabeçalho no topo da página */
    left: 0;  /* alinhado a esquerda */
    width: 100%;  /* Faz com que o cabeçalho ocupe toda a largura da página */
    z-index: 1000;  /* Garante que o cabeçalho fique acima de outros elementos */
    border-radius: 0 0 12px 12px;  /* Bordas arredondadas apenas na parte inferior */
    padding: 0 0 24px   ;
}

#inicio nav{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 24px;
    padding: 12px;
}